<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Users</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
	<a th:href="@{/new}" class="btn btn-primary">Add</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>SURNAME</th>
					<th>EMAIL</th>
					<th>BIRTH_DATE</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.getId()}"></td>
					<td th:text="${user.getName()}"></td>
					<td th:text="${user.getSurname()}"></td>
					<td th:text="${user.getEmail()}"></td>
					<td th:text="${user.getBirthDate()}"></td>
					<td>
						<a th:href="@{/modify/}+${user.id}" class="btn btn-warning">Modify</a>
						<a th:href="@{/delete/}+${user.id}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>